.row-label {
    font-weight: bold;
    background-color: #555;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.seat {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seat.available {
    background-color: lightgreen;
}

.seat.reserved {
    background-color: lightcoral;
}

.seat.available:hover {
    background-color: green;
    color: white;
}

.seat-space {
    width: 10px; /* 좌석 간격 */
}
